@page
@model IndexModel
@{
    ViewData["Title"] = "Pepp's Indie Game Reviews";
}

<div class="flex flex-wrap mt4 mw9 ml-auto mr-auto pl3 pr3">
    <div class="w-100 pa3 tl w-50-l">
        <h1 class="f2 lh-copy ttu mt0 fw3" style="max-width:636px">
            I make Youtube videos about <strong>indie games</strong> of all sizes! I'm dedicated
            to finding games worth playing. Nothing is too small to be a
            good game. Please see my vidos below.
        </h1>
    </div>
    <div class="w-100 pa3 tc tr-l w-50-l">
        <div class="video-container">
            <iframe width="560" height="315" title="Introduction to my channel"
                src="https://www.youtube.com/embed/1kkvZQW90sM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="mt4 mw9 ml-auto mr-auto pl3 pr3">
    <h2 class="f2 georgia">Latest Videos</h2>
    <div class="flex flex-wrap">
        @foreach (var video in Model.Videos.Take(9))
        {
            <div class="w-50 w-25-l pa3">
                <a href="@video.Link" aria-label="Link to youtube video @video.Title">
                    <img src="https://img.youtube.com/vi/@video.VideoId/maxresdefault.jpg" alt="Youtube thumbnail for @video.Title" />
                </a>
            </div>
        }
    </div>
</div>

<div class="pa3 mt4 white" style="background-color:#202020;">
    <div class="dt mw6 center pv3">
        <div class="dtc v-mid">
            <img src="https://steamstore-a.akamaihd.net/public/shared/images/header/globalheader_logo.png" alt=""/>
        </div>
        <div class="dtc v-mid pl3">
            <p class="lh-copy">
                Follow along on my Steam Curator page.
            </p>
            <div class="tc">
                <a class="f6 link dim ba ph3 pv2 mb2 dib white" href="https://store.steampowered.com/curator/26701155-The-Pepp-Selection/">
                    Follow
                </a>
            </div>
        </div>
    </div>
</div>

<div class="mt4 mw9 ml-auto mr-auto pl3 pr3">
    <h2 class="f2 georgia">Contact</h2>
    <p>
    For inquiries or just to chat: <a href="mailto:peppinion+site@gmail.com">peppinion+site@gmail.com</a> / <a href="https://www.twitter.com/peppage">twitter</a>
    </p>
</div>
