@page
@model IndexModel
@{
    ViewData["Title"] = "Pepp's Indie Game Reviews";
}

<div class="flex">
  <div class="w-50 pa3 mr2 tr">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1kkvZQW90sM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="w-50 pa3 mr2 tl">
    <h1>Dedicated to finding indie games worth playing</h1>
    <div class="pa4">
    <blockquote class="athelas ml0 mt0 pl4 black-90 bl bw2 b--blue">
        <p class="f5 f4-m f3-l lh-copy measure mt0">
        No game is too small to be good
        </p>
        <cite class="f6 ttu tracked fs-normal">―Pepp</cite>
    </blockquote>
    </div>
    <a class="f6 link dim ph3 pv2 mb2 dib white bg-red" href="#0">Subscribe</a>
  </div>
</div>
<div class="flex">
    
</div>
