<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4/css/tachyons.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="sans-serif">
    <div class="cover bg-center vh-25" style="background-image: url(/images/YouTube_Banner.jpg);">
        <img src="/images/me.png" style="right:0;" class="dn db-m db-l vh-25 absolute"/>
    </div> 
    </header>
    <div class="container avenir">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
